events{
	#Event directives...
}


http{
	server {
    listen 80;
    server_name stagging.mono-http.lomashchoudhary.me;

    location / {
        proxy_pass http://localhost:3001;
    }
}
	server {
    listen 80;
    server_name stagging.mono-ws.lomashchoudhary.me;

    location / {
        proxy_pass http://localhost:3002;
    }
}
server {
    listen 80;
    server_name stagging.mono-fe.lomashchoudhary.me;

    location / {
        proxy_pass http://localhost:3000;
    }
}
}